In [1]:
d={}
d["Zara"]=500
d["Tommy"]=10
d["Sam"]=25
d["Daniel"]=23
d["Sharon"]=10
print(d)

{'Zara': 500, 'Tommy': 10, 'Sam': 25, 'Daniel': 23, 'Sharon': 10}

In [2]:
D1={"sam":50,"Will":12,"Evangeline":12,"Sheela":20,"Greg":10,"Guss":12,"Aliyah":5,"Harper":15}
print(D1)
print(type(D1))

{'sam': 50, 'Will': 12, 'Evangeline': 12, 'Sheela': 20, 'Greg': 10, 'Guss': 12, 'Aliyah': 5, 'Harper': 15}
<class 'dict'>

In [8]:
dict={"a":"aa","b":"bb","c":"cc","d":"dd"}
dict["e"]="ee"
dict["Alpha"]="Beta"
dict["Gama"]="rainbow"
dict["sunshine"]=10
dict.update({"e":"ee","f":"ff","g":"gg"})
dict.update({"rach":10,"Tom":56,"Hari":23})
print(dict)

{'a': 'aa', 'b': 'bb', 'c': 'cc', 'd': 'dd', 'e': 'ee', 'Alpha': 'Beta', 'Gama': 'rainbow', 'sunshine': 10, 'f': 'ff', 'g': 'gg', 'rach': 10, 'Tom': 56, 'Hari': 23}

In [15]:
Employee={"name":"Raj","id":1005,"salary":90000}
Ewp={"gmail":"sign@runnerup","place":"Gujrat","Alpha":"beta","Gama":"coke"}
Employee.update(Ewp)
Employee

{'name': 'Raj',
 'id': 1005,
 'salary': 90000,
 'gmail': 'sign@runnerup',
 'place': 'Gujrat',
 'Alpha': 'beta',
 'Gama': 'coke'}

In [16]:
Employee.keys()

dict_keys(['name', 'id', 'salary', 'gmail', 'place', 'Alpha', 'Gama'])

In [17]:
Employee.values()

dict_values(['Raj', 1005, 90000, 'sign@runnerup', 'Gujrat', 'beta', 'coke'])

In [39]:
products={"zara":["Tank_tops","Denim_jacket","Leather_wear","Hoodies","Accessories"],
          "Nike":["Jordan","sketchers","yoga_mat","blocks","tank tops"],
          "ShrafDG":["kindle","smart_TV","speakers","Earbuds","HDMI cables","Tablet","Iphones"]}
for x in products.items():
    print(x)
products.keys()

('zara', ['Tank_tops', 'Denim_jacket', 'Leather_wear', 'Hoodies', 'Accessories'])
('Nike', ['Jordan', 'sketchers', 'yoga_mat', 'blocks', 'tank tops'])
('ShrafDG', ['kindle', 'smart_TV', 'speakers', 'Earbuds', 'HDMI cables', 'Tablet', 'Iphones'])

dict_keys(['zara', 'Nike', 'ShrafDG'])

In [23]:
products.values()

dict_values([['Tank_tops', 'Denim_jacket', 'Leather_wear', 'Hoodies', 'Accessories'], ['Jordan', 'sketchers', 'yoga_mat', 'blocks', 'tank tops'], ['kindle', 'smart_TV', 'speakers', 'Earbuds', 'HDMI cables', 'Tablet', 'Iphones']])

In [31]:
for x in products.item():
    print(products)

AttributeError: 'dict' object has no attribute 'item'

In [38]:
flowers={"Red":"rose","white":"orchid","yellow":"Tulip","purple":"Hydranga"}
for x in flowers.items():
    print(x)

('Red', 'rose')
('white', 'orchid')
('yellow', 'Tulip')
('purple', 'Hydranga')

In [42]:
# to remover the comma and to print upto a certain key
ice_cream={"Baskin Robins":10,"Dairy Queen":20,"Breyers":15,"Nestle":23,"So Delicious":12,"Igloo":12,"Blue Bunny":15,"Corner house":20}
keyname,bkey=input("keyname=>"),input("bkey=>")
for x in ice_cream:
    if(x !=keyname):
        if (x !=bkey):
            print(x,end =" ,")
        elif (x ==bkey):
            print(x)
    elif (x==keyname):
        break

keyname=>Blue Bunny
bkey=>Igloo
Baskin Robins ,Dairy Queen ,Breyers ,Nestle ,So Delicious ,Igloo

In [6]:
d={}
n=int(input("Enter the number of products=>"))
for i in range(0,n):
    key=int(input("keys=>")),
    id=int(input("id=>")),
    product=input("product available=>"),
    number=int(input("Number of items=>"))
    d[key]=id,product,number                                                                 
print(d)

Enter the number of products=>3
keys=>1
id=>1001
product available=>car
Number of items=>23
keys=>2
id=>1002
product available=>keyboard
Number of items=>23
keys=>3
id=>1003
product available=>mouse
Number of items=>23
{(1,): ((1001,), ('car',), 23), (2,): ((1002,), ('keyboard',), 23), (3,): ((1003,), ('mouse',), 23)}

In [14]:
ice_cream={"Baskin Robins":10,"Dairy Queen":20,"Breyers":15,"Nestle":23,"So Delicious":12,"Igloo":12,"Blue Bunny":15,"Corner house":20}
for x in ice_cream:
    if (x!="Igloo"):
        print(x,":",ice_cream[x],end=",")
    elif (x=="Igloo"):
        break

Baskin Robins : 10,Dairy Queen : 20,Breyers : 15,Nestle : 23,So Delicious : 12,

In [15]:
# To print upto a certain key 
ice_cream={"Baskin Robins":10,"Dairy Queen":20,"Breyers":15,"Nestle":23,"So Delicious":12,"Igloo":12,"Blue Bunny":15,"Corner house":20}
n,m=input("keyname=>"),input("bkeyname=>")
for x in ice_cream:
    if (x!=n):
        print(x,":",ice_cream[x],end=",")
    elif(x==m):
        break

keyname=>Corner house
bkeyname=>Blue Bunny
Baskin Robins : 10,Dairy Queen : 20,Breyers : 15,Nestle : 23,So Delicious : 12,Igloo : 12,Blue Bunny : 15,

In [1]:
employee={"NAME":["Michelle","Will","Sandra","Evangeline","Hope","Destiny"],
          "DESIGNATION":["Data Analyst","HR","Accountant","Data Analyst","HR","Accountant"],
          "SALARY":[8900000,2600000,5600000,2300000,1200000,500000],
          "EMAIL":["a@gmail.com","b@gmail.com","c@gmail.com","d@gmail.com","e@gmail.com","f@gmail.com"],
          "ID":[1001,1002,1003,1004,1005,1006]}
print(employee["NAME"][0]," ",employee["DESIGNATION"][0]," ",employee["SALARY"][0]," ",employee["EMAIL"][0]," ",employee["ID"][0])
print("/n")
print(employee)

Michelle   Data Analyst   8900000   a@gmail.com   1001
/n
{'NAME': ['Michelle', 'Will', 'Sandra', 'Evangeline', 'Hope', 'Destiny'], 'DESIGNATION': ['Data Analyst', 'HR', 'Accountant', 'Data Analyst', 'HR', 'Accountant'], 'SALARY': [8900000, 2600000, 5600000, 2300000, 1200000, 500000], 'EMAIL': ['a@gmail.com', 'b@gmail.com', 'c@gmail.com', 'd@gmail.com', 'e@gmail.com', 'f@gmail.com'], 'ID': [1001, 1002, 1003, 1004, 1005, 1006]}