In [5]:
print("hello World")

hello World

In [19]:
#append()= adds as a whole in the last index
x=[1,2,3,4,5,6,[-1,-2,-3,-4],55,99,[84,85,89],8]
print (len(x))
x.append(["Michelle","Will Tudor","Torvill","Lily"])
print(x)
print(len(x))

11
[1, 2, 3, 4, 5, 6, [-1, -2, -3, -4], 55, 99, [84, 85, 89], 8, ['Michelle', 'Will Tudor', 'Torvill', 'Lily']]
12

In [20]:
#extend()= inscreases your individual index number...
x.extend([7,8,9,4,5,6,"Alex"])
x.extend(["Sam","Alice","uma","Kathrine"])
x.extend(["Roman","James","Ryle"])
print(len(x))
print(x)

26
[1, 2, 3, 4, 5, 6, [-1, -2, -3, -4], 55, 99, [84, 85, 89], 8, ['Michelle', 'Will Tudor', 'Torvill', 'Lily'], 7, 8, 9, 4, 5, 6, 'Alex', 'Sam', 'Alice', 'uma', 'Kathrine', 'Roman', 'James', 'Ryle']

In [21]:
#insert()= insert the given value at the preffered index
x.insert(4,"Evangeline")
print(x)
print(len(x))

[1, 2, 3, 4, 'Evangeline', 5, 6, [-1, -2, -3, -4], 55, 99, [84, 85, 89], 8, ['Michelle', 'Will Tudor', 'Torvill', 'Lily'], 7, 8, 9, 4, 5, 6, 'Alex', 'Sam', 'Alice', 'uma', 'Kathrine', 'Roman', 'James', 'Ryle']
27

In [16]:
# To print the sum of squared numbers from the given list
l=[1,2,3,4,5,6,7,8,9,10]
sum=0
for x in l:
    sum+=x**2
print(sum)

385

In [12]:
#To print the odd and even numbers from the given list #list comprehension
l=[12,25,45,63,98,78,89,23,85,56,48,23,15,25,36,100]
even=[x for x in l if x%2==0]
odd=[x for x in l if x%2!=0]
print("Even =>",even)
print("Odd =>",odd)

Even => [12, 98, 78, 56, 48, 36, 100]
Odd => [25, 45, 63, 89, 23, 85, 23, 15, 25]

In [39]:
l=["Michelle","Evangeline","Will","Tudor","Andrew","Dolly","Kennith","Guss","Veronica"]
name,bname=input("Name=>"),input("Bname=>")
for x in l:
    if(x !=name):
        if (x !=bname):
            print(x,end =" ,")
        elif (x ==bname):
            print(x)
    elif (x==name):
        break

Name=>Veronica
Bname=>Guss
Michelle ,Evangeline ,Will ,Tudor ,Andrew ,Dolly ,Kennith ,Guss

In [6]:
lst=[]
n=int(input("Enter the number of employee=>"))
for i in range(0,n):
    id,Name,Designation,salary=int(input("id=>")),input("Name=>"),input("Designation=>"),int(input("salary=>"))
    lst.append([id,Name,Designation,salary])
print(lst)

Enter the number of employee=>5
id=>1001
Name=>Raj
Designation=>HR
salary=>90000
id=>1002
Name=>Michelle
Designation=>HR
salary=>90000
id=>1003
Name=>Veronica
Designation=>HR
salary=>90000
id=>1004
Name=>Santosh
Designation=>HR
salary=>90000
id=>1005
Name=>Sam
Designation=>HR
salary=>90000
[[1001, 'Raj', 'HR', 90000], [1002, 'Michelle', 'HR', 90000], [1003, 'Veronica', 'HR', 90000], [1004, 'Santosh', 'HR', 90000], [1005, 'Sam', 'HR', 90000]]