In [ ]:
""" 
How to scale Pandas  DataFrame columns with the scikit -learn
MinMaxScalar in python./
Min-Max scaling is a common feature pre-processing
technique which results in scaled data values
that fall in the range[0,1]. When applied to a python sequence """

In [1]:
import pandas as pd
import numpy as np
from sklearn import preprocessing

df = pd.DataFrame({
    "A":[0,1,2,3,4,5,89,78],
    "B":[25,50,75,100,125,150,67,55]})

min_max_scaler = preprocessing.MinMaxScaler()

print(df)

    A    B
0   0   25
1   1   50
2   2   75
3   3  100
4   4  125
5   5  150
6  89   67
7  78   55

In [3]:
df[["A","B"]] = min_max_scaler.fit_transform(df[["A","B"]])
df

          A      B
0  0.000000  0.000
1  0.011236  0.200
2  0.022472  0.400
3  0.033708  0.600
4  0.044944  0.800
5  0.056180  1.000
6  1.000000  0.336
7  0.876404  0.240

In [4]:
pd.__version__

'1.5.3'

In [6]:
df = pd.DataFrame({'country':['russia', 'germany',
                              'australia','korea','germany']})
df

     country
0     russia
1    germany
2  australia
3      korea
4    germany

In [7]:
#One-hot encoding a column in a Pandas Dataframe
df = pd.DataFrame({'country':['russia', 'germany','australia','korea','germany']})
df

     country
0     russia
1    germany
2  australia
3      korea
4    germany

In [8]:
df = pd.DataFrame({'country':['russia', 'germany',
                              'australia','korea','germany']})
pd.get_dummies(df,prefix=['country'])

   country_australia  country_germany  country_korea  country_russia
0                  0                0              0               1
1                  0                1              0               0
2                  1                0              0               0
3                  0                0              1               0
4                  0                1              0               0